body {
    background-color: rgba(10, 163, 56, 0.877);
    margin: 20px;
    border: 50px;
    border-color: blueviolet;
    border-style: dotted;
    padding: 10px;
}

h1{
    color: aqua;
    text-align: center;
}

.endereco{
    text-align: center;
} 
   